<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Malasri
                <span class="text-primary">Janumporn</span>
            </h1>
            <div class="subheading mb-5">
                35 rue du Docteur Rollet · Villeurbanne, FR 69100 ·
                <a href="mailto:malasrij101@gmail.com">malasrij101@gmail.com</a>
            </div>
            <p class="lead mb-5" *ngIf="lang==='fr'; else defaut"> 
               {{description[1]}}      
            </p>
            <ng-template #defaut> 
                <p class="lead mb-5">
                    {{description[0]}}   
                </p>      
            </ng-template>
            <div class="social-icons">
                <a class="social-icon" href="http://www.linkedin.com/in/malasri-janumporn-9371a5209"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
                <a class="social-icon" href="https://github.com/miraclej101"><fa-icon [icon]="faGithub"></fa-icon></a>
                <a class="social-icon" href="https://www.youtube.com/channel/UCXoFy_I9YRUUpNjO1gJ423A"><fa-icon [icon]="faYoutube"></fa-icon></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
