<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content" *ngIf="lang==='eng'">
        <h2 class="mb-5">Activities & Interests</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Big Data & AI</li>
            <li class="list-group-item">Digital Marketing</li>
            <li class="list-group-item">Agile Methodologies</li> 
            <li class="list-group-item"><fa-icon [icon]="faDumbbell"></fa-icon> Body Balance, Weight training</li>
        </ul>
    </div>
    <div class="resume-section-content" *ngIf="lang==='fr'">
        <h2 class="mb-5">Centre d'intérêt</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Big Data & IA</li>
            <li class="list-group-item">Marketing numérique</li>
            <li class="list-group-item">Méthode Agile</li> 
            <li class="list-group-item"><fa-icon [icon]="faDumbbell"></fa-icon> Body Balance, Musculation</li>
        </ul>
    </div>
</section>
<hr class="m-0" />
