  <!-- Certificate-->
  <section class="resume-section" id="certificate">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0" *ngFor="let cert of certificates">
            <li >
                <span class="fa-li"><fa-icon [icon]="faCertificate" size="lg" [styles]="{'color':'#ffc107'}"></fa-icon></span>
                <a  [attr.href]="cert.url">{{cert.name}} </a> <span> - {{cert.platform}}  {{cert.date}}</span>
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />
